Depending on the size of this release, there may be a human-readable changelog available on [the wiki page](https://github.com/embeddedt/ModernFix/wiki/Changelog).

## Changes since [[modernFixVersionRef]]

{{#commits}}
{{#ifMatches messageTitle "^(?!Merge).*"}}
  * [{{{messageTitle}}}](https://github.com/embeddedt/ModernFix/commit/{{hashFull}}) - {{{authorName}}}
{{/ifMatches}}
{{/commits}}